@using InsureManage.Interfaces;
@using InsureManage.Models;
@inject NavigationManager Navigation

<Grid TItem="ProductLocationItemInnerJoin" class="table table-hover table-bordered table-striped text-center" DataProvider="ProductDataProvider" AllowFiltering="true" AllowPaging="true" PageSize="20" AllowSorting="true" Responsive="true" EmptyText="ขออภัย เราไม่พบข้อมูลที่ท่านต้องการ">
    <GridColumn TItem="ProductLocationItemInnerJoin" HeaderText="ไอดี" PropertyName="IdProduct" SortString="IdProduct" SortKeySelector="item => item.IdProduct" FilterTextboxWidth="50" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
        @context.IdProduct
    </GridColumn>
    <GridColumn TItem="ProductLocationItemInnerJoin" HeaderText="ชื่อตำแหน่งที่เก็บของ" PropertyName="NameProduct" SortString="NameProduct" SortKeySelector="item => item.NameProduct" FilterTextboxWidth="100">
        @context.NameProduct
    </GridColumn>
    <GridColumn TItem="ProductLocationItemInnerJoin" HeaderText="ชื่อที่จัดเก็บของ" PropertyName="NameLocationItem" SortString="NameLocationItem" SortKeySelector="item => item.NameLocationItem" FilterTextboxWidth="120">
        @context.NameLocationItem
    </GridColumn>
    <GridColumn TItem="ProductLocationItemInnerJoin" HeaderText="วันที่ซื้อ" PropertyName="DateBuyProduct" SortString="DateBuyProduct" SortKeySelector="item => item.DateBuyProduct" FilterTextboxWidth="90">
        @context.DateBuyProduct
    </GridColumn>
    <GridColumn TItem="ProductLocationItemInnerJoin" HeaderText="วันที่หมดประกัน" PropertyName="DateEndProduct" SortString="DateEndProduct" SortKeySelector="item => item.DateEndProduct" FilterTextboxWidth="90">
        @context.DateEndProduct
    </GridColumn>
    <GridColumn TItem="ProductLocationItemInnerJoin" HeaderText="หมายเหตุสินค้า" PropertyName="NoteProduct" Filterable="false">
        @context.NoteProduct
    </GridColumn>
    <GridColumn TItem="ProductLocationItemInnerJoin" HeaderText="จัดการสินค้า" Filterable="false">
        <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-warning w-50" @onclick='@(() => Navigation.NavigateTo("/Product/Update/"+ @context.IdProduct))'>แก้ไข</button>
            <button type="button" class="btn btn-danger" @onclick='@(async () => await DeleteData(@context.IdProduct))'>ลบ</button>
        </div>
    </GridColumn>
</Grid>

@code {
    [Parameter]
    public EventCallback<bool> DataIsUpdate { get; set; }

    [CascadingParameter(Name = "ProductContent")]
    public IEnumerable<ProductLocationItemInnerJoin> Products { get; set; } = null!;

    [Inject]
    protected IProduct ProductService { get; set; }

    private string Message { get; set; } = null;

    private async Task DeleteData(int id)
    {
        bool status;
        status = await ProductService.DeleteProduct(id);
        if (status == true) { await DataIsUpdate.InvokeAsync(true); Message = "ตำแหน่งที่ตั้งถูกลบเรียบร้อยแล้ว"; }
        else { Message = "เกิดข้อผิดพลาดไม่สามารถลบได้"; }
    }

    private async Task<GridDataProviderResult<ProductLocationItemInnerJoin>> ProductDataProvider(GridDataProviderRequest<ProductLocationItemInnerJoin> request)
    {
        return await Task.FromResult(request.ApplyTo(Products));
    }
}
