@using InsureManage.Interfaces;
@using InsureManage.Models;
@inject NavigationManager Navigation
@if(Message != null){
    <Callout>
    <p class="text-left mb-1">ข้อความแจ้งสถานะ : @Message</p>
    </Callout>
}
<table class="table table-info table-bordered  table-striped text-center">
    <thead>
        <tr class="table-primary fs-4">
            <th>ไอดี</th>
            <th>ชื่อตำแหน่งที่เก็บของ</th>
            <th>จัดการ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in LocationItem)
        {
            <tr class="fs-5">
                <td>@v.IdLocationItem</td>
                <td>@v.NameLocationItem</td>
                <td>
                    <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-warning" @onclick='@(() => Navigation.NavigateTo("/Position/Update/"+ v.IdLocationItem))'>แก้ไข</button>
                        <button type="button" class="btn btn-danger" @onclick='@(async () => await DeleteData(v.IdLocationItem))'>ลบ</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public EventCallback<bool> DataIsUpdate { get; set; }

    [CascadingParameter(Name = "PositionContent")]
    private List<LocationItem> LocationItem { get; set; } = null!;

    [Inject]
    protected ILocationitem LocationitemService { get; set; }

    private string Message { get; set; } = null;

    private async Task DeleteData(int id)
    {
        bool status;
        status = await LocationitemService.RemovePositionAsync(id);
        if (status == true) { await DataIsUpdate.InvokeAsync(true); Message = "ตำแหน่งที่ตั้งถูกลบเรียบร้อยแล้ว"; }
        else { Message = "เกิดข้อผิดพลาดไม่สามารถลบได้"; }
    }
}